* {
  box-sizing: border-box;
}

body {
  background-color: beige;
}

table,th,td {
  border: 1px solid lightgray;
}
td, th {
  padding: 5px;
}
table {
  width: 80%;
  margin: auto;
  border-radius: 30px;
  border-collapse: collapse;
}
th {
  background-color: rgb(27, 94, 80);
  color: white;
}
tr:nth-child(odd) {
  background-color: rgb(243, 247, 238);
}
tr:nth-child(even) {
  background-color: #c8e67a;
}
.szempontok{
  background-color: whitesmoke;
  border-radius: 20px;
}
section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#zold{
  display: grid;
  grid-template-columns: 1fr 1fr;
}